<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

 
 <resource-ref>
		<res-ref-name>jdbc/postgres</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<servlet>
 <servlet-name>action</servlet-name>
 <servlet-class>
 org.apache.struts.action.ActionServlet
</servlet-class>
 <init-param>
 <param-name>application</param-name>
 <param-value>ApplicationResources</param-value>
 </init-param>
 <init-param>
 <param-name>config</param-name>
 <param-value>struts-config.xml</param-value>
  </init-param>
 </servlet>
 
 
 <servlet-mapping>
<servlet-name>action</servlet-name>
 <url-pattern>*.do</url-pattern>
 </servlet-mapping>
	
	
	
	
	
	
	
	
	
 <servlet>
 <servlet-name>DoMath</servlet-name>
 <servlet-class>example.controller.Calculater</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>DoMath</servlet-name>
 <url-pattern>/calculate</url-pattern>
 </servlet-mapping>
 
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/task</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/addTask</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/getTask</url-pattern>
 </servlet-mapping>
 
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/getTasksByStatus</url-pattern>
 </servlet-mapping>
 
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern> /addTaskToEmployee</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern> /getTasksByEmployee</url-pattern>
 </servlet-mapping>



 
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/deleteTask</url-pattern>
 </servlet-mapping> 
 
 <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern>/updateTask</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>task</servlet-name>
 <servlet-class>example.controller.Task</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>task</servlet-name>
 <url-pattern> /TaskShowEditForm</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>employee</servlet-name>
 <servlet-class>example.controller.Employee</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>employee</servlet-name>
 <url-pattern> /listEmployee</url-pattern>
 </servlet-mapping>
 
 
   <servlet>
 <servlet-name>employee</servlet-name>
 <servlet-class>example.controller.Employee</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>employee</servlet-name>
 <url-pattern> /addEmployee</url-pattern>
 </servlet-mapping>
 
 
   <servlet>
 <servlet-name>employee</servlet-name>
 <servlet-class>example.controller.Employee</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>employee</servlet-name>
 <url-pattern> /deleteEmployee</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>employee</servlet-name>
 <servlet-class>example.controller.Employee</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>employee</servlet-name>
 <url-pattern> /getEmployee</url-pattern>
 </servlet-mapping>
 
 
   <servlet>
 <servlet-name>employee</servlet-name>
 <servlet-class>example.controller.Employee</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>employee</servlet-name>
 <url-pattern> /getTeam</url-pattern>
 </servlet-mapping>
 

 
 
 
 <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
 
 

 
 


</web-app>